
# FVM Version Cache
.fvm/

.dart_tool/*
.idea/*
build/
modules/ios/*
modules/android/*
/.dart_tool/


android/.idea/*
android/app/libs/*

.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig